@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1em;
    background-color:#a2d2ff;
}

.main{
    height:100vh;
    width:100vw;
    background-color:#a2d2ff;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.header{
    font-size:xx-large;
    margin:1.5em;
    margin-left:9em;   
}

.primary-container{
    width:95%;
    height:95%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:4em;
}

.settings{
    width:300px;
    height:70%;

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    
    gap:2em;

    margin-top:4em;
}

.pixel{
    border:1px solid rgba(0, 0, 0, 0.034);
    background-color:white;
    user-select:none;
}

.board{
    display:grid;
    width:900px;
    height:700px;

    border:2px solid black;
    border-radius:5px;
    box-shadow: 0px 1px 10px 7px rgb(0, 0, 0);
}

button{
    width:80%;
    height:10%;
    cursor:pointer;
    letter-spacing: 0.2em;

    font-size:medium;
    font-weight:bolder;

    background-color: #d4f0cc;
    color: rgb(0, 0, 0);

    border:1px solid black;
    border-radius:5px;

    box-shadow: 0px 1px 10px 2px rgb(0, 0, 0);
}

.active{
    background-color:#ffa2b6;
}

button:hover{
    transform: scale(1.1);
    transition-duration:0.2s;
    box-shadow: 0px 1px 10px 5px rgb(0, 0, 0);
}

button:active{
    background-color:white;
    color:black;
    transform:translateY(4px)
}

.color-box{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:100%;
    height:25%;
}

input[type="color"]{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color:transparent;
    width:9em;
    height:9em;
    cursor:pointer;
    border:none;
}

input[type="color"]::-webkit-color-swatch{
    border-radius:50%;
    border:2px solid black;
    box-shadow: 0px 1px 10px 2px rgb(0, 0, 0);
}

input[type="color"]:hover{
    transform: scale(1.2);
    transition-duration:0.5s;
}

input[type="color"]:active{
    transform:translateY(4px)
}

.board-size-input{
    letter-spacing:0.2em;
    font-weight:bold;
    text-align:center;
    line-height:1.5em;

    width:300px;
}

.input-range{
    width:100%;
}


@media (min-width: 1980px){
    .header{
        margin-left:12em;   
    }
}

@media (max-width: 1700px){

    .board{
        width:900px;
        height:500px;
    }

}

@media (max-width: 1560px){
    .header{
        margin-left:8em;   
    }

    .settings{
        width:300px;
        height:500px;
        margin-top:0;
    }
}

@media (max-width: 1200px){
    .board{
        width:700px;
    }

    .header{
        margin-left:7em;
    }

    .settings{
        width:300px;
    }

    .board-size-input{
        width:300px;
    }
    
}

@media (max-width: 900px){
    .main{
        width:100%;
        height:100%;
    }
    .header{
        text-align:center;
        display:block;
        margin:0 auto;
        font-size:large;
    }

    .header h1{
        padding:1em;
    }

    .primary-container{
        display:flex;
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
    }

    .settings{
        margin-top:0;
        transform:scale(0.8);
    }
    
    .board{
        width:90%;
    }

    .board-size-input{
        width:300px;
    }

    button{
        height:2.5em;
    }
    
}